<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <h1>New Post</h1>
    <form method="post" action="/posts">
        <input placeholder="username" name="username" type="text">
        <br><br>
        <textarea placeholder="content" name="content" type="text"></textarea>
        <br>
        <button>submit</button>
    </form>
    

</body>
</html>